.header {
    grid-area: header;
    height: auto;
    width: 100%;
    background-color: #151515;
    display: flex;
    font-size: larger;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    box-shadow: 0 8px 16px 0 #00000033, 0 6px 20px 0 #00000030;
    margin: 0;
    padding: 5px;
    border-bottom: 2px solid #3e3e3e;
}
body {
    /*将背景设置为black*/
    background-color: black;
    padding: 0;
    margin:0;
    color:#dadada;
}
.zhanwei {
    width: 7px;
    height:1px;
}
.topbutton {
    background-color: #00000000;
    text-align:left;
    color:#cccccc;
    text-decoration: none;
    display: inline-block;
    height:24px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    margin-left:5px;
    padding-bottom: 0;
    padding-top:0;
    border-radius: 3px;
}
.topbutton:hover {
    background-color: #4c4c4c;
}
.dropdown {
    position: relative;
    display: inline-block;
    padding:0;
    margin:0;
    height:100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #151515;
    width: 250px;
    border-bottom: 2px solid #3e3e3e;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #424242;
}
.topbarbtn {
    background-color: #00000000;
    text-align:left;
    color:#cccccc;
    text-decoration: none;
    display: inline-block;
    height:24px;
    width: 95%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    font-size: 14px;
    padding: 10px;
    margin-left:5px;
    padding-bottom: 0px;
    padding-top:0px;
    border-radius: 3px;
}
.topbarbtn:hover {
    background-color: #4c4c4c;
}