.header {
    grid-area: header;
    height: auto;
    width: 100%;
    background-color: #151515;
    display: flex;
    font-size: larger;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    box-shadow: 0 8px 16px 0 #00000033, 0 6px 20px 0 #00000030;
    margin: 0;
    padding: 5px;
    border-bottom: 2px solid #3e3e3e;
}
body {
    /*将背景设置为black*/
    background-color: black;
    padding: 0;
    margin:0;
    color:#dadada;
}
.zhanwei {
    width: 7px;
    height:1px;
}
.topbutton {
    background-color: #00000000; /* Green */
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #292929;
    width: 250px;
}

.dropdown-content button{
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content button:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #240caa;
}